<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.hello_spring.access.dao.AccessLogDao">

    <insert id="insertNewAccessLog"
            parameterType="com.ktdsuniversity.edu.hello_spring.access.vo.AccessLogVO">
        INSERT INTO ACCESS_LOG
         (ACCESS_LOG_ID
        , ACCESS_TYPE
        , ACCESS_EMAIL
        , ACCESS_TIME
        , ACCESS_URL
        , ACCESS_METHOD
        , ACCESS_IP
        , LOGIN_SUCCESS_YN)
        VALUES
         ('AL-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ACCESS_LOG_PK.NEXTVAL, 6, '0')
        , #{accessType}
        , #{accessEmail}
        , SYSDATE
        , #{accessUrl}
        , #{accessMethod}
        , #{accessIp}
        , NVL(#{loginSuccessYn}, 'N'))
    </insert>
    
    <select id="selectLoginFailCount"
            parameterType="string"
            resultType="_int">
        SELECT COUNT(1)
		  FROM ACCESS_LOG
		 WHERE ACCESS_IP = #{_parameter}
		   AND ACCESS_TYPE = 'LOGIN'
		   AND LOGIN_SUCCESS_YN = 'N'
		   AND ACCESS_TIME BETWEEN SYSDATE - 1/24 AND SYSDATE
    </select>

	
</mapper>


















