<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.hello_spring.bbs.dao.BoardDao">

	<select id="selectBoardAllCount" resultType="_int">
		SELECT COUNT(1)
		FROM BOARD
	</select>

	<select id="selectAllBoard"
		resultType="com.ktdsuniversity.edu.hello_spring.bbs.vo.BoardVO">
		SELECT ID
			 , SUBJECT
			 , CONTENT
			 , EMAIL
			 , VIEW_CNT
			 , TO_CHAR(CRT_DT, 'YYYY-MM-DD') CRT_DT
			 , TO_CHAR(MDFY_DT, 'YYYY-MM-DD') MDFY_DT
			 , FILE_NAME
			 , ORIGIN_FILE_NAME
		FROM BOARD
	</select>

	<insert id="insertNewBoard"
		parameterType="com.ktdsuniversity.edu.hello_spring.bbs.vo.WriteBoardVO">
		INSERT INTO BOARD
		 (ID
		, SUBJECT
		, CONTENT
		, EMAIL
		, VIEW_CNT
		, CRT_DT
		, MDFY_DT
		, FILE_NAME
		, ORIGIN_FILE_NAME)
		VALUES
		 (SEQ_BOARD_PK.NEXTVAL
		, #{subject}
		, #{content}
		, #{email}
		, 0
		, SYSDATE
		, SYSDATE
		, #{fileName}
		, #{originFileName})
	</insert>

	<update id="updateViewCount" parameterType="_int">
		UPDATE BOARD
		   SET VIEW_CNT = VIEW_CNT +  1
		 WHERE ID = #{_parameter}
	</update>

	<select id="selectOneBoard" 
			parameterType="_int" 
			resultType="com.ktdsuniversity.edu.hello_spring.bbs.vo.BoardVO">
		SELECT ID
			 , SUBJECT
			 , CONTENT
			 , EMAIL
			 , VIEW_CNT
			 , TO_CHAR(CRT_DT, 'YYYY-MM-DD') CRT_DT
			 , TO_CHAR(MDFY_DT, 'YYYY-MM-DD') MDFY_DT
			 , FILE_NAME
			 , ORIGIN_FILE_NAME
		FROM BOARD
	   WHERE ID = #{_parameter}
	</select>
	
	<update id="updateOneBoard"
			parameterType="com.ktdsuniversity.edu.hello_spring.bbs.vo.ModifyBoardVO">
		UPDATE BOARD
		   SET SUBJECT = #{subject}
		     , CONTENT = #{content}
		     , EMAIL = #{email}
		     , MDFY_DT = SYSDATE
		     <if test='fileName != null and fileName != ""'>
		     , FILE_NAME = #{fileName}
		     , ORIGIN_FILE_NAME = #{originFileName}
		     </if>
		 WHERE ID = #{id}
	</update>
	
	<delete id="deleteOneBoard"
			parameterType="_int">
		DELETE
		  FROM BOARD
		 WHERE ID = #{_parameter}
	</delete>
</mapper>






